@{
	ViewBag.Title = "Dashboard";
}
<div class="wrapper row-offcanvas row-offcanvas-left">
	<aside class="right-side" style="margin-left:0px;">
		<!-- Main content -->
		<section class="content" style="padding-top:10px">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4">
						<div class="small-box bg-olive">
							<div class="inner">
								<a href="@Url.Action("InventoryInfo", "InventoryHome")" style="color:white">
									<h3>
										Store Requisitions
									</h3>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-shopping-cart" style="text-align:center"></i>
							</div>
							<a href="@Url.Action("InventoryInfo", "InventoryHome")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="small-box" style="background-color:#5F9EA0;color:cadetblue">
							<div class="inner">
								<a href="@Url.Action("ProcurementInfo", "ProcurementHome")" style="color:white">
									<h3>
										Purchase Requisitions
									</h3>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-product-hunt" style="text-align:center"></i>
							</div>
							<a href="@Url.Action("ProcurementInfo", "ProcurementHome")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="small-box" style="background-color:#72777A;color:white">
							<div class="inner">
								<a href="@Url.Action("HumanResourceInfo", "HumanResourceHome")" style="color:white">
									<h4>
										Human Resource Services
									</h4>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-google-wallet"></i>
							</div>
							<a href="@Url.Action("HumanResourceInfo", "HumanResourceHome")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="small-box" style="background-color:#00bfff;color:white">
							<div class="inner">
								<a href="@Url.Action("FinanceInfo", "FinanceHome")" style="color:white">
									<h3>
										Finance Services
									</h3>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-money" style="text-align:center"></i>
							</div>
							<a href="@Url.Action("FinanceInfo", "FinanceHome")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="small-box" style="background-color:forestgreen;color:white">
							<div class="inner">
								<a href="@Url.Action("RequestsToApprove", "Approval")" style="color:white">
									<h3>
										Approval Services
									</h3>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-registered" style="text-align:center"></i>
							</div>
							<a href="@Url.Action("RequestsToApprove", "Approval")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="small-box" style="background-color:#a03995;color:white">
							<div class="inner">
								<a href="@Url.Action("EmployeeProfile", "Account")" style="color:white">
									<h3>
										Staff Profile
									</h3>
									<p>
										&nbsp;
									</p>
								</a>
							</div>
							<div class="icon">
								<i class="fa fa-user-circle" style="text-align:center"></i>
							</div>
							<a href="@Url.Action("EmployeeProfile", "Account")" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<!--Render Employee Leave Balance Widget-->
						@{Html.RenderAction("_EmployeeBalanceWidget", "FinanceHome");}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!--Render Employee Leave Balance Widget-->
						@{Html.RenderAction("_EmployeeLeaveBalanceWidget", "HumanResourceHome");}
					</div>
				</div>
			</div>
		</section>
	</aside>
</div>

@section scripts{
	<script type="text/javascript">
        $(document).ready(function () {
            $("#toggleSideMenu").hide();
        });
	</script>
}


