<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Self-Service Portal">
	<meta name="author" content="Systems Reengineered Ltd">
	<meta name="keyword" content="Self-Service Portal">

	<title>@ViewBag.Title - Online Self-Service Portal</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/Content/images/icon.ico" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />

	<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
	<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

	<!--Sysre CSS-->
	<link href="~/Content/MaterialUI/assets/css/material-dashboard-new.css" rel="stylesheet" />
	<link href="~/Content/AdminLTE/css/ionicons.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/AdminLTE/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/AdminLTE/css/AdminLTE.css" rel="stylesheet" type="text/css" />
	<!--End Sysre CSS-->

	<link href="~/Content/ladda-themeless.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/SysreThemes/dynamics-nav-theme.css" rel="stylesheet" />

	<!--Select2 Plugin-->
	<link href="~/Content/Select2Plugin/select2.min.css" rel="stylesheet" />
	<!--End Select2 Plugin-->

</head>
<body class="skin-blue dynamics-nav-skin">
	@if (Request.IsAuthenticated)
	{
        <!--Page Header-->
		<header class="header" id="navheader">
			<a href="@Url.Action("Index", "Home")" class="logo">
				<img src="~/Content/images/logo.png" class="simple-logo" style="height:50px;width:80px;" />
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a id="toggleSideMenu" href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-user"></i>
								<span>@HttpContext.Current.User.Identity.Name <i class="caret"></i></span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header" data-background-color="company_card">
									<img src="~/Content/images/photo_placeholder.png" class="img-circle" alt="User Image" />
									<p>
										@HttpContext.Current.User.Identity.Name
										<small>@ServiceConnection.CompanyName Staff</small>
									</p>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-right">
										<a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">
											<i class="material-icons text-gray">power_settings_new</i>
											Sign out
										</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>
        <!--End Page Header-->
	}
	<div class="container-fluid" style="padding:0px;">
		@RenderBody()
		<hr style="margin:0px" />
		<footer class="text-center">
			<p><strong>@ServiceConnection.CompanyName  &copy; @DateTime.Now.Year. | <i>Powered by <a href="http://www.sysre.co.ke" target="_blank">Systems Reengineered Ltd.</a></i></strong></p>
		</footer>
	</div>


	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/jquery-3.4.1.intellisense.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

	<script src="~/Scripts/modernizr-2.8.3.js"></script>
	<script src="~/scripts/moment.min.js"></script>

	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/bootstrap-select.min.js"></script>
	<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

	<!--Admin LTE Dashboard JS-->
	<script src="~/Content/AdminLTE/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
	<script src="~/Content/AdminLTE/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
	<script src="~/Content/AdminLTE/js/AdminLTE/app.js" type="text/javascript"></script>
	<script src="~/Content/AdminLTE/js/AdminLTE/dashboard.js" type="text/javascript"></script>
	<!--End Admin LTE Dashboard JS-->

	<!--Material Dashboard JS-->
	<script src="~/Content/MaterialUI/assets/js/material.min.js"></script>
	<script src="~/Content/MaterialUI/assets/js/arrive.min.js"></script>
	<script src="~/Content/MaterialUI/assets/js/perfect-scrollbar.jquery.min.js"></script>
	<script src="~/Content/MaterialUI/assets/js/bootstrap-notify.js"></script>
	<script src="~/Content/MaterialUI/assets/js/material-dashboard.js?v=1.2.0"></script>
	<!--End Material Dashboard JS-->

	<script src="~/Scripts/Select2Plugin/select2.min.js"></script>

	<script src='https://www.google.com/recaptcha/api.js' type="text/javascript" async defer></script>
	<script src="~/scripts/spin.min.js"></script>
	<script src="~/scripts/ladda.min.js"></script>
	<script src="~/scripts/SysreAddons/control-ladda-btn.js"></script>
	<script src="~/Scripts/SysreAddons/custom-alert.js"></script>

	<!--Block UI-->
	<script src="~/Scripts/jquery.validate.bootstrap.js"></script>
	<script src="~/Scripts/jquery.blockUI.js"></script>

	<script type="text/javascript">

		var AJAXUrls = {

        	//Dimension urls
            GetGlobalDimension1Codes: '@Url.Action("GetGlobalDimension1Codes", "FinanceHome")',
            GetGlobalDimension2Codes: '@Url.Action("GetGlobalDimension2Codes", "FinanceHome")',
            GetShortcutDimension3Codes: '@Url.Action("GetShortcutDimension3Codes", "FinanceHome")',
            GetShortcutDimension4Codes: '@Url.Action("GetShortcutDimension4Codes", "FinanceHome")',
            GetShortcutDimension5Codes: '@Url.Action("GetShortcutDimension5Codes", "FinanceHome")',
            GetShortcutDimension6Codes: '@Url.Action("GetShortcutDimension6Codes", "FinanceHome")',
            GetShortcutDimension7Codes: '@Url.Action("GetShortcutDimension7Codes", "FinanceHome")',
			GetShortcutDimension8Codes: '@Url.Action("GetShortcutDimension8Codes", "FinanceHome")',

			//Portal Document Urls
			GetPortalDocuments: '@Url.Action("GetPortalDocuments", "Imprest")',
			GetPortalDocumentLink: '@Url.Action("GetPortalDocumentLink", "Imprest")',
			UploadDocumentLink: '@Url.Action("UploadDocumentLink", "Imprest")',

			GetPortalDocumentLinks: '@Url.Action("GetPortalDocumentLinks", "ImprestSurrender")',
			GetPortalDocumentLinkByLineNo: '@Url.Action("GetPortalDocumentLinkByLineNo", "ImprestSurrender")',
			UploadPortalDocumentLink: '@Url.Action("UploadPortalDocumentLink", "ImprestSurrender")',

			LoadPurchaseRequisitionDocuments: '@Url.Action("LoadPurchaseRequisitionDocuments", "PurchaseRequisition")',
			GetPurchaseRequisitionDocumentByLineNo: '@Url.Action("GetPurchaseRequisitionDocument", "PurchaseRequisition")',
		    UploadPurchaseRequsitionAttachments: '@Url.Action("UploadPurchaseRequsitionAttachments", "PurchaseRequisition")',


		    LoadStoreRequisitionDocuments: '@Url.Action("LoadStoreRequisitionDocuments", "StoreRequisition")',
		    GetStoreRequisitionDocumentByLineNo: '@Url.Action("GetStoreRequisitionDocument", "StoreRequisition")',
		    UploadStoreRequisitionAttachments: '@Url.Action("UploadStoreRequisitionAttachments", "StoreRequisition")',

			LoadAttachedDocuments: '@Url.Action("LoadAttachedDocuments", "FundsClaim")',
			UploadDocument: '@Url.Action("UploadDocument", "FundsClaim")',
			GetAttachedDocument: '@Url.Action("GetAttachedDocument", "FundsClaim")',

			GetDocumentLinks: '@Url.Action("GetDocumentLinks", "TrainingApplication")',
			GetAttachedDocumentLink: '@Url.Action("GetAttachedDocumentLink", "TrainingApplication")',
			UploadAttachedDocumentLink: '@Url.Action("UploadAttachedDocumentLink", "TrainingApplication")',

        	//Imprest urls
        	GetImprestLinesAjax: '@Url.Action("GetImprestLinesAjax", "Imprest")',
        	GetImprestLineByLineNo: '@Url.Action("GetImprestLine", "Imprest")',
        	GetImprestAmount: '@Url.Action("GetImprestAmount", "Imprest")',
        	CreateImprestLine: '@Url.Action("CreateImprestLine", "Imprest")',
        	ModifyImprestLine: '@Url.Action("ModifyImprestLine", "Imprest")',
        	DeleteImprestLine: '@Url.Action("DeleteImprestLine", "Imprest")',

        	//Imprest Surrender urls
        	CreateImprestSurrenderLine: '@Url.Action("CreateImprestSurrenderLine", "ImprestSurrender")',
        	GetImprestSurrenderLinesAjax: '@Url.Action("GetImprestSurrenderLinesAjax", "ImprestSurrender")',
        	DeleteImprestSurrenderLine: '@Url.Action("DeleteImprestSurrenderLine", "ImprestSurrender")',
        	ModifyImprestSurrenderLine: '@Url.Action("ModifyImprestSurrenderLine", "ImprestSurrender")',
        	ValidateImprestSurrenderLines: '@Url.Action("ValidateImprestSurrenderLines", "ImprestSurrender")',
        	GetImprestDetails: '@Url.Action("GetImprestDetails", "ImprestSurrender")',
        	GetImprestBalance: '@Url.Action("GetImprestBalance", "ImprestSurrender")',
        	GetImprestLines: '@Url.Action("GetImprestLines", "ImprestSurrender")',
			GetImprestSurrenderLine: '@Url.Action("GetImprestSurrenderLine", "ImprestSurrender")',

        	//Medical Claim Urls
        	CreateFundsClaimLine: '@Url.Action("CreateFundsClaimLine", "FundsClaim")',
        	GetFundsClaimLines: '@Url.Action("GetFundsClaimLines", "FundsClaim")',
        	DeleteFundsClaimLine: '@Url.Action("DeleteFundsClaimLine", "FundsClaim")',
        	ModifyFundsClaimLine: '@Url.Action("ModifyFundsClaimLine", "FundsClaim")',
        	GetFundsClaimLineByLineNo: '@Url.Action("GetFundsClaimLine", "FundsClaim")',
			GetFundsClaimAmount: '@Url.Action("GetFundsClaimAmount", "FundsClaim")',

        	//Funds Claim Urls
        	CreateFundClaimLine: '@Url.Action("CreateFundClaimLine", "FundsClaim")',
        	GetFundClaimLines: '@Url.Action("GetFundClaimLines", "FundsClaim")',
        	DeleteFundClaimLine: '@Url.Action("DeleteFundClaimLine", "FundsClaim")',
        	ModifyFundClaimLine: '@Url.Action("ModifyFundClaimLine", "FundsClaim")',
        	GetFundClaimLineByLineNo: '@Url.Action("GetFundClaimLine", "FundsClaim")',
        	GetImprestAmount: '@Url.Action("GetImprestAmount", "FundsClaim")',

            //Purchase requisition urls
        	GetPurchaseRequisitionAmount: '@Url.Action("GetPurchaseRequisitionAmount", "PurchaseRequisition")',
            GetPurchaseRequisitionLines: '@Url.Action("GetPurchaseRequisitionLines", "PurchaseRequisition")',
            CreatePurchaseRequisitionLine: '@Url.Action("CreatePurchaseRequisitionLine", "PurchaseRequisition")',
            ModifyPurchaseRequisitionLine: '@Url.Action("ModifyPurchaseRequisitionLine", "PurchaseRequisition")',
            DeletePurchaseRequisitionLine: '@Url.Action("DeletePurchaseRequisitionLine", "PurchaseRequisition")',
            GetPurchaseRequisitionLineByLineNo: '@Url.Action("GetPurchaseRequisitionLine", "PurchaseRequisition")',
        	GetPurchaseRequisitionCodes: '@Url.Action("GetPurchaseRequisitionCodes", "PurchaseRequisition")',
        	GetPurchaseRequisitionItems: '@Url.Action("GetPurchaseRequisitionItems", "PurchaseRequisition")',
        	GetPurchaseRequisitionFixedAssets: '@Url.Action("GetPurchaseRequisitionFixedAssets", "PurchaseRequisition")',

        	//Individual Appraisal urls
        	GetOrganizationAppraisalCodes: '@Url.Action("GetOrganizationAppraisalCodes", "EmployeeAppraisal")',
        	GetDepartmentalAppraisalCodes: '@Url.Action("GetDepartmentalAppraisalCodes", "EmployeeAppraisal")',
        	GetDivisionalAppraisalCodes: '@Url.Action("GetDivisionalAppraisalCodes", "EmployeeAppraisal")',
        	CreateIndividualAppraisalLine: '@Url.Action("CreateIndividualAppraisalLine", "EmployeeAppraisal")',
        	GetIndividualAppraisalLines: '@Url.Action("GetIndividualAppraisalLines", "EmployeeAppraisal")',
        	ModifyIndividualAppraisalLine: '@Url.Action("ModifyIndividualAppraisalLine", "EmployeeAppraisal")',
        	GetIndividualAppraisalLineByLineNo: '@Url.Action("GetIndividualAppraisalLine", "EmployeeAppraisal")',

            //Store requisition urls
        	GetStoreRequisitionAmount: '@Url.Action("GetStoreRequisitionAmount", "StoreRequisition")',
            GetAvailableInventory: '@Url.Action("GetAvailableInventory", "StoreRequisition")',
            GetStoreRequisitionLines: '@Url.Action("GetStoreRequisitionLines", "StoreRequisition")',
            GetItemUOMs: '@Url.Action("GetItemUOMs", "StoreRequisition")',
            CreateStoreRequisitionLine: '@Url.Action("CreateStoreRequisitionLine", "StoreRequisition")',
            ModifyStoreRequisitionLine: '@Url.Action("ModifyStoreRequisitionLine", "StoreRequisition")',
            DeleteStoreRequisitionLine: '@Url.Action("DeleteStoreRequisitionLine", "StoreRequisition")',
        	GetStoreRequisitionLineByLineNo: '@Url.Action("GetStoreRequisitionLine", "StoreRequisition")',
        	ValidateQuantityRequested: '@Url.Action("ValidateQuantityRequested", "StoreRequisition")',

            //Leave application urls
            GetLeaveEndDate: '@Url.Action("GetLeaveEndDate", "LeaveApplication")',
        	GetLeaveReturnDate: '@Url.Action("GetLeaveReturnDate", "LeaveApplication")',
        	InsertLeaveApplicationDocuments: '@Url.Action("InsertLeaveApplicationDocuments", "LeaveApplication")',
			GetLeaveApplicationDocuments: '@Url.Action("GetLeaveApplicationDocuments", "LeaveApplication")',
        	UploadLeaveApplicationDocument: '@Url.Action("UploadLeaveApplicationDocument", "LeaveApplication")',
        	GetLeaveApplicationDocumentByLineNo: '@Url.Action("GetLeaveApplicationDocumentByLineNo", "LeaveApplication")',

        	//Leave Reimbursement urls
        	GetLeaveApplicationDetails: '@Url.Action("GetLeaveApplicationDetails", "LeaveReimbursement")',

        	//Training Evaluations urls
        	GetTrainingApplicationDetails: '@Url.Action("GetTrainingApplicationDetails", "TrainingEvaluation")',
        	InsertHRRequiredDocuments: '@Url.Action("InsertHRRequiredDocuments", "TrainingEvaluation")',
        	LoadHRRequiredDocuments: '@Url.Action("LoadHRRequiredDocuments", "TrainingEvaluation")',
        	GetHRRequiredDocument: '@Url.Action("GetHRRequiredDocument", "TrainingEvaluation")',
        	UploadHRRequiredDocument: '@Url.Action("UploadHRRequiredDocument", "TrainingEvaluation")',
        	DeleteHRRequiredDocuments: '@Url.Action("DeleteHRRequiredDocuments", "TrainingEvaluation")',

        	// HR Training Needs Urls
        	CreateHRTrainingNeedsLine: '@Url.Action("CreateHRTrainingNeedsLine", "TrainingNeeds")',
        	ModifyHRTrainingNeedsLine: '@Url.Action("ModifyHRTrainingNeedsLine", "TrainingNeeds")',
        	GetHRTrainingNeedsLineByLineNo: '@Url.Action("GetHRTrainingNeedsLine", "TrainingNeeds")',
        	GetHRTrainingNeedsLines: '@Url.Action("GetHRTrainingNeedsLines", "TrainingNeeds")',
        	DeleteHRTrainingNeedsLine: '@Url.Action("DeleteHRTrainingNeedsLine", "TrainingNeeds")',

        	//Employee Loan Applications
        	GetLoanProductDetails: '@Url.Action("GetLoanProductDetails", "StaffLoans")',
        	GetLoanApplicationDocumentsLines: '@Url.Action("GetLoanApplicationDocumentsLines", "StaffLoans")',
        	GetApplicationDocument: '@Url.Action("GetApplicationDocument", "StaffLoans")',
        	GetEmployeeEntitlement: '@Url.Action("GetEmployeeEntitlement", "StaffLoans")',
        	GetEmployeeRepaymentAmount: '@Url.Action("GetEmployeeRepaymentAmount", "StaffLoans")',
        	InsertEmployeeLoanProduct: '@Url.Action("InsertEmployeeLoanProduct", "StaffLoans")',
        	InsertEmployeeLoanAmount: '@Url.Action("InsertEmployeeLoanAmount", "StaffLoans")',
        	ValidateLoanApliedAmount: '@Url.Action("ValidateLoanApliedAmount", "StaffLoans")',
        	UploadApplicationDocument: '@Url.Action("UploadApplicationDocument", "StaffLoans")',
        	LoadApplicationDocuments: '@Url.Action("LoadApplicationDocuments", "StaffLoans")',
        	CheckAppliedAmountWithinLimit: '@Url.Action("CheckAppliedAmountWithinLimit", "StaffLoans")',
        	CheckEmployeeEntitlement: '@Url.Action("CheckEmployeeEntitlement", "StaffLoans")',
        	ValidateRepaymentPeriod: '@Url.Action("ValidateRepaymentPeriod", "StaffLoans")',

            //Vehicle requisition urls
			GetTripReturnDate: '@Url.Action("GetTripReturnDate", "VehicleRequisition")',
			InsertTransportRequisitionType: '@Url.Action("InsertTransportRequisitionType", "VehicleRequisition")',
			GetTransportRequisitionDocuments: '@Url.Action("GetTransportRequisitionDocuments", "VehicleRequisition")',
			GetTransportRequisitionDocumentByLineNo: '@Url.Action("GetTransportRequisitionDocumentByLineNo", "VehicleRequisition")',
			UploadTransportRequisitionDocument: '@Url.Action("UploadTransportRequisitionDocument", "VehicleRequisition")'
        }

		$("input[type=text]").keyup(function () {
			$("#submitBtn").prop("disabled", true);

			$("input[type=text]").each(function () {
				if (this.value.length > 0) {

					$("#submitBtn").prop("disabled", false);
					$("#submitBtn").removeAttr("disabled");
					return false;

				}
				else {
					$("#submitBtn").attr("disabled", "disabled");
				}
			});

		});

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

        $("select").searchit({
            textFieldClass: 'searchbox',
            selected: true
        });

	</script>

	@RenderSection("scripts", false)
</body>
</html>